<div class="x0">
    <div class="x1">
        <div class="x2">
            <div class="x3">
                <!-- BEG Content -->                
                <div class="x6">
                    <div class="x7">
                        <p>
                            <span>Kenley Earl Tan </span><br />
                            I'm right behind you.
                        </p>                    
                    </div>
                    <div class="x8">                        
                        <p>
                            <span> Jamiessonn Carlo Lao</span><br />
                            I'm scared.
                        </p>                            
                    </div>
                </div>                                
                <!-- END Content -->
            </div>
        </div>
    </div>
</div>